<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="robots" content="nofollow,noindex">

  <title>{{title}}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,600,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{mainCSS}}">

  <link rel="icon" href="./assets/favicon-black.png" />
  <link rel="apple-touch-icon" href="./assets/favicon-black.png" />
</head>
<body>
  <div class="container mx-auto px2 mt3 mb4">
    <div class="hero px3 py4 center animated {{randomFade}}">
      <img src="./assets/ship.gif" width="150" />
      <h1 class="h1 caps mb1">Asteroids on Steroids</h1>
      <p class="h5 mt1 mb2 caps">Multiplayer space battle adventure</p>

      <form id="playForm" class="mt3 pt1 animated">
        <input type="text" id="username" class="username field caps ultra-rounded mr1" placeholder="Your username" maxlength="254" />
        <button type="submit" class="play-btn button caps ultra-rounded">Play</button>
      </form>
    </div>
  </div>

  <script src="{{mainJS}}" type="text/javascript" async defer></script>
</body>
</html>
