<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="robots" content="nofollow,noindex">

  <title>{{title}}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,600,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{mainCSS}}">
</head>
<body>

  <script src="{{mainJS}}" type="text/javascript" async defer></script>
</body>
</html>
